extends layout

block content
  .container-fluid.d-flex.align-items-center.justify-content-center.h-100(style="background-color: #007bff;")
    .row
      .col-md-6.offset-md-3.text-center.p-4(style="background-color: #ffffff; border-radius: 10px;")
        h1= title
        p Welcome to Express#{title}
        a.btn.btn-primary(href="/contacts") Open Contact List
